/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none               &kp Q           &kp W  &kp E           &kp R      &kp T      &kp Y  &kp U      &kp I                &kp O                     &kp P  &none
&none     &mt LEFT_META A           &kp S  &kp D           &kp F      &kp G      &kp H  &kp J      &kp K                &kp L  &mt RIGHT_META SEMICOLON  &none
&none  &mt LEFT_CONTROL Z  &mt LEFT_ALT X  &kp C           &kp V      &kp B      &kp N  &kp M  &kp COMMA  &mt LEFT_ALT PERIOD   &mt RIGHT_CONTROL SLASH  &none
                                           &mo 1  &kp LEFT_SHIFT  &kp SPACE    &kp RET  &mo 1   &kp RALT
            >;
        };

        symbols {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
